Repository geopython/pygeoapi, pull requests merged in 2024-08, with the labels that each got.

#1769 fix collection breadcrumbs on queryables and schemas HTML Jinja2 templates
  pygeoapi/api/__init__.py
  pygeoapi/api/itemtypes.py
  pygeoapi/templates/collections/queryables.html
  pygeoapi/templates/collections/schema.html
Labels: bug

#1770 fix breadcrumbs again (follow on of #1769)
  pygeoapi/templates/collections/queryables.html
  pygeoapi/templates/collections/schema.html
Labels: bug

#1764 fix EDR HTML breadcrumbs
  locale/bs/LC_MESSAGES/messages.po
  locale/de/LC_MESSAGES/messages.po
  locale/en/LC_MESSAGES/messages.po
  locale/es/LC_MESSAGES/messages.po
  locale/fr/LC_MESSAGES/messages.po
  locale/sr/LC_MESSAGES/messages.po
  pygeoapi/api/__init__.py
  pygeoapi/api/environmental_data_retrieval.py
  pygeoapi/templates/_base.html
  pygeoapi/templates/collections/edr/query.html
Labels: bug, OGC API - Environmental Data Retrieval

#1772 fix item id breadcrumb
  pygeoapi/templates/collections/items/item.html
Labels: bug

#1778 update basemap URL across all configurations (#1777)
  docker/default.config.yml
  docs/source/configuration.rst
  tests/data/admin/admin-put.json
  tests/pygeoapi-test-config-admin.yml
  tests/pygeoapi-test-config-apirules.yml
  tests/pygeoapi-test-config-enclosure.yml
  tests/pygeoapi-test-config-envvars.yml
  tests/pygeoapi-test-config-hidden-resources.yml
  tests/pygeoapi-test-config-ogr.yml
  tests/pygeoapi-test-config-postgresql-manager.yml
  tests/pygeoapi-test-config.yml
Labels: bug

#1784 Add C3 plotting to EDR HTML view
  pygeoapi/static/css/default.css
  pygeoapi/templates/collections/edr/query.html
Labels: enhancement, ui, OGC API - Environmental Data Retrieval

#1776 Remove extra parameters from OAS-EDR for locations
  pygeoapi/api/environmental_data_retrieval.py
Labels: bug, OpenAPI, OGC API - Environmental Data Retrieval

#1785 Center pygeoapi footer
  pygeoapi/templates/_base.html
Labels: enhancement, ui

#1790 do not echo query parameter values on exceptions (#1789)
  pygeoapi/api/__init__.py
  pygeoapi/api/itemtypes.py
  tests/api/test_api.py
  tests/test_postgresql_provider.py
Labels: bug

#1722 Pyarrow parquet provider
  docs/source/data-publishing/ogcapi-features.rst
  pygeoapi/plugin.py
  pygeoapi/provider/parquet.py
  requirements-provider.txt
  tests/data/random.parquet
  tests/data/random_nogeom.parquet
  tests/test_parquet_provider.py
Labels: enhancement

#1794 Fix indentation in yaml example
  docs/source/data-publishing/ogcapi-tiles.rst
Labels: bug, OGC API - Tiles

#1793 Skip resources with no providers in STA intralink process
  pygeoapi/provider/sensorthings.py
Labels: bug, OGC API - Features

#1796 Check if query is implemented before validating params
  pygeoapi/api/environmental_data_retrieval.py
Labels: bug, OGC API - Environmental Data Retrieval

#1797 Display numberMatched in HTML view
  pygeoapi/templates/collections/items/index.html
Labels: enhancement, OGC API - Features, OGC API - Records, ui

#1788 OGC API - Coverages: Propagate selected fields into covjson conversion
  pygeoapi/provider/xarray_.py
Labels: bug, OGC API - Coverages
