Repository geopython/pygeoapi, pull requests merged in 2024-10, with the labels that each got.

#1813 Custom esri token service
  docs/source/data-publishing/ogcapi-features.rst
  pygeoapi/provider/esri.py
Labels: OGC API - Features

#1824 Fixes a rasterio query using format=json and a MemoryFile issue
  pygeoapi/provider/rasterio_.py
Labels: enhancement, OGC API - Coverages

#1829 Properly support int variables of any width
  pygeoapi/provider/rasterio_.py
  pygeoapi/provider/xarray_.py
Labels: OGC API - Coverages
