Repository geopython/pygeoapi, pull requests merged in 2024-09, with the labels that each got.

#1806 feat: add version parameter to WMSFacade provider
  docs/source/data-publishing/ogcapi-maps.rst
  pygeoapi/provider/wms_facade.py
Labels: enhancement, OGC API - Maps

#1807 SensorThings API provider cleanup
  pygeoapi/provider/sensorthings.py
Labels: OGC API - Features

#1779 Jobs pagination
  pygeoapi/api/processes.py
  pygeoapi/process/manager/base.py
  pygeoapi/process/manager/dummy.py
  pygeoapi/process/manager/mongodb_.py
  pygeoapi/process/manager/postgresql.py
  pygeoapi/process/manager/tinydb_.py
  pygeoapi/templates/jobs/index.html
  tests/api/test_processes.py
Labels: enhancement, OGC API - Processes

#1641 CRS handling in xarray provider properties
  docs/source/data-publishing/ogcapi-coverages.rst
  docs/source/data-publishing/ogcapi-edr.rst
  pygeoapi/provider/xarray_.py
Labels: enhancement, OGC API - Environmental Data Retrieval

#1819 Correctly zoom to first layer on EDR HTML
  pygeoapi/templates/collections/edr/query.html
Labels: OGC API - Environmental Data Retrieval

#1820 fix item queryables provider handling
  pygeoapi/api/itemtypes.py
  tests/api/test_api.py
  tests/api/test_itemtypes.py
  tests/pygeoapi-test-config.yml
  tests/test_util.py
Labels: bug, OGC API - Records
