Repository geopython/pygeoapi, pull requests merged in 2024-12, with the labels that each got.

#1861 Add License and Extent information to Collections
  pygeoapi/provider/hateoas.py
Labels: STAC

#1858 support dataset specific templates (#1857)
  docs/source/configuration.rst
  docs/source/html-templating.rst
  pygeoapi/api/__init__.py
  pygeoapi/api/environmental_data_retrieval.py
  pygeoapi/api/itemtypes.py
  pygeoapi/api/processes.py
  pygeoapi/api/tiles.py
  pygeoapi/util.py
Labels: enhancement, ui

#1870 Fix rendering of job results in html
  pygeoapi/templates/jobs/job.html
  pygeoapi/templates/jobs/results/index.html
  tests/api/test_processes.py
Labels: bug, OGC API - Processes

#1877 Admin: coerce resource temporal extents into datetime objects
  pygeoapi/admin.py
  tests/test_admin_api.py
Labels: bug, admin

#1876 Serialize string to bool
  pygeoapi/util.py
  tests/test_util.py
Labels: bug

#1879 Allow configurable expand to SensorThings provider
  docs/source/data-publishing/ogcapi-features.rst
  pygeoapi/provider/sensorthings.py
  tests/test_sensorthings_provider.py
Labels: enhancement, OGC API - Features

#1878 Added payload examples and other default values in the Open API definition of the admin API
  pygeoapi/openapi.py
  tests/data/admin/admin-put.json
  tests/pygeoapi-test-config-admin.yml
Labels: admin

#1883 Ensure STA only uses configured netloc
  pygeoapi/provider/sensorthings.py
Labels: OGC API - Features

#1887 Elasticsearch: relax properties query for indexes with varying mappings
  pygeoapi/provider/elasticsearch_.py
Labels: OGC API - Features

#1882 Get all nested fields in Elasticsearch
  pygeoapi/provider/elasticsearch_.py
Labels: OGC API - Features, OGC API - Records

#1888 Admin tests without live server
  .github/workflows/main.yml
  tests/test_admin_api.py
  tests/test_admin_api_live.py
Labels: tests, admin

#1890 Updates for parsing with STAC browser
  pygeoapi/provider/hateoas.py
Labels: STAC

#1891 Implement OGC API Features Part 4 transactions for the postgres provider
  docs/source/data-publishing/ogcapi-features.rst
  pygeoapi/provider/postgresql.py
  tests/pygeoapi-test-config-postgresql.yml
  tests/test_postgresql_provider.py
Labels: enhancement, OGC API - Features
