Repository geopython/pygeoapi, pull requests merged in 2024-05, with the labels that each got.

#1602 Add support for parameter Outputs of OGC API Processes
  pygeoapi/api/processes.py
  pygeoapi/process/base.py
  pygeoapi/process/hello_world.py
  pygeoapi/process/manager/base.py
Labels: OGC API - Processes

#1646 Retrieve properties from elasticsearch on get tile request
  docs/source/data-publishing/ogcapi-tiles.rst
  pygeoapi/provider/mvt_elastic.py
Labels: enhancement, OGC API - Tiles

#1647 EDR: fix parameter-name parameter (#1642)
  pygeoapi/api/environmental_data_retrieval.py
  tests/api/test_environmental_data_retrieval.py
Labels: bug, OGC API - Environmental Data Retrieval

#1649 add api map-layer to map
  pygeoapi/templates/collections/collection.html
Labels: ui, OGC API - Maps

#1657 Fix bug issue #1656
  pygeoapi/process/manager/dummy.py
Labels: bug, OGC API - Processes

#1653 fixed issue 1652 by removing the staticmethod decorators
  pygeoapi/api/itemtypes.py
Labels: bug

#1643 Refactor postgresql provider to allow exposing cached engine and table models to other providers
  pygeoapi/provider/postgresql.py
Labels: enhancement

#1659 docs: point to combined plugins and themes wiki page
  docs/source/html-templating.rst
  docs/source/plugins.rst
Labels: documentation

#1669 Oracle: add pagination
  pygeoapi/provider/oracle.py
Labels: enhancement, OGC API - Features
