Repository geopython/pygeoapi, pull requests merged in 2025-03, with the labels that each got.

#1937 Gracefully catch tile not found
  pygeoapi/api/tiles.py
  pygeoapi/provider/mvt_elastic.py
  pygeoapi/provider/mvt_proxy.py
  pygeoapi/provider/mvt_tippecanoe.py
Labels: enhancement, OGC API - Tiles

#1955 Directly render EDR JSON in HTML
  pygeoapi/templates/collections/edr/query.html
Labels: bug, ui, OGC API - Environmental Data Retrieval

#1960 Gracefully catch missing tiles in wmts facade
  pygeoapi/provider/wmts_facade.py
Labels: OGC API - Tiles

#1927 Support GeoJSON-LD templating
  .github/workflows/main.yml
  docs/source/configuration.rst
  pygeoapi/api/itemtypes.py
  pygeoapi/linked_data.py
  pygeoapi/schemas/config/pygeoapi-config-0.x.yml
  pygeoapi/templates/collections/items/index.jsonld
  pygeoapi/templates/collections/items/item.jsonld
  tests/api/test_itemtypes.py
  tests/data/base.jsonld
  tests/pygeoapi-test-config-apirules.yml
  tests/pygeoapi-test-config-enclosure.yml
  tests/pygeoapi-test-config.yml
  tests/test_linked_data.py
Labels: enhancement, OGC API - Features, linked data

#1963 Include JSON-LD documents in manifest
  MANIFEST.in
Labels: bug

#1966 Update openapi.py
  pygeoapi/openapi.py
Labels: bug

#1968 Fix 'type' member of the rel=http://www.opengis.net/def/rel/ogc/1.0/schema link
  pygeoapi/api/__init__.py
Labels: OGC API - Features

#1972 EDR Inheritance
  pygeoapi/provider/base_edr.py
Labels: OGC API - Environmental Data Retrieval

#1975 handle PostgreSQL JSON types as JSON Schema objects
  pygeoapi/provider/postgresql.py
Labels: OGC API - Features, OGC API - Records

#1976 fix schema geometry definition (#1938)
  pygeoapi/api/__init__.py
  pygeoapi/api/itemtypes.py
  tests/api/test_itemtypes.py
Labels: OGC API - Features, OGC API - Records

#1959 Return 204 for tiles that are within the tile matrix set limits
  pygeoapi/api/tiles.py
  pygeoapi/provider/base_mvt.py
  pygeoapi/provider/mvt_elastic.py
  pygeoapi/provider/mvt_proxy.py
  pygeoapi/provider/mvt_tippecanoe.py
  tests/api/test_tiles.py
Labels: OGC API - Tiles

#1986 Clean feature properties regarding resource setting for OGR provider
  pygeoapi/provider/ogr.py
Labels: OGC API - Features
