Repository geopython/pygeoapi, pull requests merged in 2025-02, with the labels that each got.

#1920 Add processing directive for raster layers on mapscript/OAMaps
  pygeoapi/provider/mapscript_.py
Labels: bug, OGC API - Maps

#1924 Fix SensorThings URI field retention
  pygeoapi/provider/sensorthings.py
  tests/test_sensorthings_provider.py
Labels: bug, OGC API - Features

#1929 Added information about projection of mapscript provider
  docs/source/data-publishing/ogcapi-maps.rst
Labels: documentation, OGC API - Maps

#1932 Feature property fixes
  pygeoapi/provider/csv_.py
  pygeoapi/provider/tinydb_.py
  pygeoapi/templates/exception.html
  tests/test_csv__provider.py
  tests/test_tinydb_provider.py
Labels: bug, OGC API - Features, OGC API - Records

#1931 Added support to tileindexing on MapScript provider
  docs/source/data-publishing/ogcapi-maps.rst
  pygeoapi/provider/mapscript_.py
Labels: enhancement, OGC API - Maps

#1923 Assign nil geometries to obs with malformed coordinates (#1922)
  pygeoapi/provider/csv_.py
  tests/data/obs_malformatted.csv
  tests/test_csv__provider.py
Labels: OGC API - Features

#1933 support process output schemas in OpenAPI if exists
  pygeoapi/api/processes.py
Labels: enhancement, OpenAPI, OGC API - Processes

#1935 Fix Parquet Provider
  .github/workflows/main.yml
  pygeoapi/provider/parquet.py
Labels: bug, OGC API - Features

#1934 Fix API Tile Metadata JSON response
  pygeoapi/api/tiles.py
  tests/api/test_tiles.py
Labels: bug, OGC API - Tiles, tests

#1928 Add SensorThings API EDR Provider
  .github/workflows/main.yml
  docs/source/data-publishing/ogcapi-edr.rst
  pygeoapi/plugin.py
  pygeoapi/provider/sensorthings_edr.py
  tests/test_sensorthings_edr_provider.py
Labels: enhancement, OGC API - Environmental Data Retrieval

#1944 update Docker image links in docs
  docs/source/installation.rst
Labels: documentation

#1943 prevent HTML templating override persistence
  pygeoapi/admin.py
  pygeoapi/api/__init__.py
  pygeoapi/api/environmental_data_retrieval.py
  pygeoapi/api/itemtypes.py
  pygeoapi/api/processes.py
  pygeoapi/api/stac.py
  pygeoapi/api/tiles.py
  pygeoapi/linked_data.py
  pygeoapi/util.py
Labels: bug, ui

#1945 Fix Flask Admin with API rules
  pygeoapi/flask_app.py
Labels: bug

#1947 fix `KeyError: 'updated'` when jobs are started but haven't been updated yet
  pygeoapi/process/manager/base.py
Labels: bug, OGC API - Processes
