Repository geopython/pygeoapi, pull requests merged in 2025-08, with the labels that each got.

#2071 make support for features/records extra query parameters configurable
  docs/source/configuration.rst
  docs/source/data-publishing/ogcapi-features.rst
  docs/source/data-publishing/ogcapi-records.rst
  pygeoapi/api/itemtypes.py
  pygeoapi/formatter/csv_.py
  pygeoapi/provider/base.py
  pygeoapi/schemas/config/pygeoapi-config-0.x.yml
  tests/api/test_itemtypes.py
  tests/cite/cite.config.yml
Labels: OGC API - Features, OGC API - Records

#2075 Documentation for extra_params for the oracle provider.
  docs/source/data-publishing/ogcapi-features.rst
Labels: documentation

#2076 EDR: safeguard typing on z query parameter
  pygeoapi/api/environmental_data_retrieval.py
Labels: bug, OGC API - Environmental Data Retrieval

#2084 add annotated example of process metadata (#2081)
  docs/source/data-publishing/ogcapi-processes.rst
Labels: documentation, OGC API - Processes

#2083 Ensure tile is within configured zoom
  pygeoapi/provider/tile.py
  tests/test_postgresql_mvt_provider.py
Labels: OGC API - Tiles

#2077 Externalizing tilematrixsets to resources/tilematrixsets dir
  pygeoapi/models/provider/base.py
  pygeoapi/resources/tilematrixsets/WebMercatorQuad.json
  pygeoapi/resources/tilematrixsets/WorldCRS84Quad.json
  tests/api/test_tiles.py
Labels: OGC API - Tiles

#2085 maintain order of PostgreSQL table columns (#2078)
  pygeoapi/provider/sql.py
  tests/test_postgresql_provider.py
Labels: OGC API - Features

#2088 Make PyGeoAPI to run rootless (Tested in Openshift)
  docker/entrypoint.sh
Labels: enhancement
