Repository geopython/pygeoapi, pull requests merged in 2025-01, with the labels that each got.

#1895 remove lakes feature provider for CITE testing
  tests/cite/cite.config.yml
Labels: cite

#1893 add support for EDR instances
  pygeoapi/api/environmental_data_retrieval.py
  pygeoapi/django_/urls.py
  pygeoapi/django_/views.py
  pygeoapi/flask_app.py
  pygeoapi/provider/base_edr.py
  pygeoapi/starlette_app.py
  pygeoapi/templates/collections/edr/instance.html
  pygeoapi/templates/collections/edr/instances.html
Labels: enhancement, OGC API - Environmental Data Retrieval

#1896 update EDR compliance
  pygeoapi/api/__init__.py
  pygeoapi/api/environmental_data_retrieval.py
  tests/cite/cite.config.yml
Labels: cite, OGC API - Environmental Data Retrieval

#1897 Fix typo in Docker documentation
  docs/source/running-with-docker.rst
Labels: documentation

#1898 update starlette documentation
  docs/source/running.rst
Labels: bug, documentation

#1900 lazy load admin api for Starlette and Django (#1886)
  pygeoapi/django_/views.py
  pygeoapi/starlette_app.py
Labels: bug

#1903 OACov: add support for UAD, override temporal extents from provider
  pygeoapi/api/__init__.py
  pygeoapi/util.py
Labels: enhancement, OGC API - Coverages

#1889 normalize all feature/record CQL filtering to CQL2 using pygeofilter
  .github/workflows/main.yml
  docs/source/cql.rst
  docs/source/development.rst
  pygeoapi/api/itemtypes.py
  pygeoapi/django_/views.py
  pygeoapi/flask_app.py
  pygeoapi/models/cql.py
  pygeoapi/provider/elasticsearch_.py
  pygeoapi/provider/opensearch_.py
  pygeoapi/starlette_app.py
  tests/test_elasticsearch__provider.py
  tests/test_models.py
  tests/test_opensearch__provider.py
  tests/test_postgresql_provider.py
Labels: enhancement, OGC API - Features, OGC API - Records

#1904 TinyDB: fix query data type casting
  pygeoapi/provider/tinydb_.py
  tests/test_tinydb_provider.py
Labels: bug, OGC API - Features, OGC API - Records

#1906 Use started/finished instead of job_start/end_datetime
  pygeoapi/api/processes.py
  pygeoapi/process/manager/base.py
  pygeoapi/templates/jobs/index.html
  pygeoapi/templates/jobs/job.html
  tests/data/postgres_manager_full_structure.backup.sql
  tests/test_manager.py
Labels: bug, OGC API - Processes

#1907 Add created/updated job fields
  pygeoapi/api/processes.py
  pygeoapi/process/manager/base.py
  pygeoapi/util.py
  tests/data/postgres_manager_full_structure.backup.sql
  tests/test_manager.py
Labels: enhancement, OGC API - Processes

#1908 OARec: add autodiscovery link relation
  pygeoapi/api/__init__.py
Labels: enhancement, OGC API - Records

#1909 Fix Oracle Provider different count query and feature query when a sql_manipulator is used, Issue #1831
  pygeoapi/provider/oracle.py
  tests/test_oracle_provider.py
Labels: OGC API - Features

#1910 add OARec autodiscovery to HTML collections template
  pygeoapi/templates/collections/index.html
Labels: OGC API - Records

#1892 enhance support for limits (RFC5) (#1856)
  .github/workflows/containers.yml
  .github/workflows/docs.yml
  .github/workflows/flake8.yml
  .github/workflows/main.yml
  docker/default.config.yml
  docs/source/configuration.rst
  pygeoapi-config.yml
  pygeoapi/api/__init__.py
  pygeoapi/api/environmental_data_retrieval.py
  pygeoapi/api/itemtypes.py
  pygeoapi/api/processes.py
  pygeoapi/schemas/config/pygeoapi-config-0.x.yml
  tests/api/test_api.py
  tests/api/test_itemtypes.py
  tests/api/test_processes.py
  tests/cite/cite.config.yml
  tests/pygeoapi-test-config-admin.yml
  tests/pygeoapi-test-config-apirules.yml
  tests/pygeoapi-test-config-enclosure.yml
  tests/pygeoapi-test-config-envvars.yml
  tests/pygeoapi-test-config-hidden-resources.yml
  tests/pygeoapi-test-config-ogr.yml
  tests/pygeoapi-test-config-postgresql-manager.yml
  tests/pygeoapi-test-config-postgresql.yml
  tests/pygeoapi-test-config.yml
Labels: enhancement, OGC API - Features, OGC API - Records, OGC API - Processes, OGC API - Environmental Data Retrieval

#1914 update Elasticsearch and MongoDB in CI to match pygeoapi-examples
  .github/workflows/main.yml
Labels: tests

#1915 Remove duplicated/unused 'get_manager' function
  pygeoapi/process/manager/__init__.py
Labels: OGC API - Processes

#1913 Use existing key for Admin OAS Patch
  pygeoapi/openapi.py
Labels: bug, OpenAPI, admin
