Repository geopython/pygeoapi, pull requests merged in 2025-05, with the labels that each got.

#1982 Don't generate paging links if provider created them
  pygeoapi/api/itemtypes.py
Labels: enhancement, OGC API - Features, OGC API - Records

#2012 update CoverageJSON compliance
  pygeoapi/api/__init__.py
  pygeoapi/api/itemtypes.py
  pygeoapi/provider/rasterio_.py
  pygeoapi/provider/xarray_.py
  tests/api/test_environmental_data_retrieval.py
  tests/test_django.py
Labels: bug, OGC API - Environmental Data Retrieval, OGC API - Coverages

#1979 Add provider for MVT tile generation from Postgres
  docs/source/data-publishing/ogcapi-tiles.rst
  pygeoapi/plugin.py
  pygeoapi/provider/base_mvt.py
  pygeoapi/provider/mvt_postgresql.py
Labels: OGC API - Tiles
