Repository geopython/pygeoapi, pull requests merged in 2025-07, with the labels that each got.

#2053 Proper handling of query parameter q with multiple search terms for T…
  pygeoapi/provider/tinydb_.py
  tests/test_tinydb_catalogue_provider.py
Labels: OGC API - Records

#2058 add bbox support for CSV and GeoJSON feature providers
  docs/source/data-publishing/ogcapi-features.rst
  pygeoapi/provider/csv_.py
  pygeoapi/provider/geojson.py
  tests/api/test_itemtypes.py
  tests/test_csv__provider.py
  tests/test_geojson_provider.py
Labels: enhancement, OGC API - Features

#2056 Pydantic v1/2 compatibility for provider models
  pygeoapi/models/provider/base.py
  pygeoapi/models/provider/mvt.py
  pygeoapi/provider/mvt_elastic.py
  pygeoapi/provider/mvt_proxy.py
  pygeoapi/provider/wmts_facade.py
Labels: bug, OGC API - Tiles, OGC API - Maps

#2063 docs: provider updates
  docs/source/data-publishing/ogcapi-features.rst
  docs/source/data-publishing/ogcapi-records.rst
Labels: documentation

#2064 Coverage json time field fix for xarray provider
  pygeoapi/provider/xarray_.py
Labels: bug, OGC API - Environmental Data Retrieval, OGC API - Coverages

#2068 Fix NoData values for Coverage JSON output
  pygeoapi/provider/rasterio_.py
Labels: bug, OGC API - Coverages

#2066 OATiles: remove popup and id_field
  pygeoapi/templates/collections/tiles/index.html
Labels: bug
