Repository geopython/pygeoapi, pull requests merged in 2025-04, with the labels that each got.

#1988 add support for feature/record domain queries
  docs/source/data-publishing/ogcapi-features.rst
  docs/source/data-publishing/ogcapi-records.rst
  pygeoapi/api/itemtypes.py
  pygeoapi/django_/urls.py
  pygeoapi/flask_app.py
  pygeoapi/provider/base.py
  pygeoapi/provider/csw_facade.py
  pygeoapi/provider/elasticsearch_.py
  pygeoapi/provider/tinydb_.py
  tests/api/test_itemtypes.py
  tests/test_csw_provider.py
  tests/test_elasticsearch__provider.py
  tests/test_tinydb_catalogue_provider.py
  tests/test_tinydb_provider.py
Labels: enhancement, OGC API - Features, OGC API - Records

#1990 OAProc: add Prefer header to OpenAPI document
  pygeoapi/api/processes.py
  tests/api/test_itemtypes.py
Labels: enhancement, OpenAPI, OGC API - Processes

#1994 Update OGC Features documentation - remove note about EPSG:4326 requirement for PostgreSQL provider
  docs/source/data-publishing/ogcapi-features.rst
Labels: documentation

#1991 Fix response type for tile request
  pygeoapi/api/tiles.py
Labels: bug, OGC API - Tiles
